body > header > nav {
    background-image: linear-gradient(to right, var(--nav-gradient-start), var(--nav-gradient-stop));
}

/* pied de page collé */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
/* */
.important {
    color: #336699;
}
.no-border.collapsible,
.no-border .collapsible-body,
.no-border .collapsible-header {
    border: none;
    box-shadow: none;
}
dl.collection dt {
  margin: 5px 10px;
}
ul.stravaactivity-detail {
  columns: 3;
  column-gap: 0.5em;
}
ul.profile-detail li,
ul.stravaactivity-detail li {
  display: flex;
  flex-direction: row;
  padding-bottom: 12px;
}
ul.stravaactivity-detail li:nth-child(odd) {
  background-color: #dddddd;
}
ul.profile-detail li .label,
ul.stravaactivity-detail li .label {
  flex: 1;
  padding-right: 12px;
  text-align: right;
}
ul.profile-detail li .value,
ul.stravaactivity-detail li .value {
  flex: 1;
  text-align: left;
  margin: 0;
  border-left: 1px solid #9e9e9e;
  padding-left: 12px;
}
.page-footer,
footer.page-footer,
footer.page-footer .collapsible-header {
  background-color: var(--footer-bg-color);
}
@media (prefers-color-scheme: dark) {
  :root {
    --btn-bg-color: #282828;
    --btn-color: #fff;
    --btn-hover-bg-color: #5a5a5a;
    --footer-bg-color: #5a5a5a;
    --main-bg-color: #434343;
    --nav-gradient-start: #bfbfbf;
    --nav-gradient-stop: #949494;
    --nav-text-color: #5a5a5a;
    --text-color: #bfbfbf;
    --active-text-color: #f5f5f5;
  }
  html {
    color: var(--text-color);
    background-color: var(--main-bg-color);
  }
  input {
    color: var(--text-color);
  }
  .breadcrumb,
  nav .brand-logo {
    color: var(--nav-text-color);
  }
  nav {
    background-color: var(--nav-gradient-start);
    color: var(--nav-text-color);
  }
  .btn {
    filter: brightness(90%);
    background-color: var(--btn-bg-color);
  }
  .btn:hover {
    background-color: var(--btn-hover-bg-color);
  }
  .collection .collection-item {
    background-color: var(--btn-bg-color);
  }
  .dropdown-content {
    background-color: var(--btn-bg-color);
  }
  .dropdown-content li > a {
    color: var(--btn-color);
  }
  .input-field .prefix.active,
  .label.active {
    color: var(--active-text-color);
  }
  input[type="password"]:not(.browser-default):focus:not([readonly]),
  input[type="text"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid var(--active-text-color);
  }
  input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
  input[type="text"]:not(.browser-default):focus:not([readonly]) + label {
    color: var(--active-text-color);
  }
  table.striped > tbody > tr:nth-child(2n+1) > td > a {
    color: var(--btn-color);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --nav-gradient-start: #4db6ac;
    --nav-gradient-stop: #64b5f6;
    --footer-bg-color: #ff9800;
  }
}

